<div id="article" class="col-12 col-md-9 col-lg-8 container text-end shadow my-3 px-4">
    <h3 class="text-center p-2"><%= article.title %> </h3>
    <img class="mb-3" src="/images/articles/<%= article.picture %> " alt="article picture">
    <p><%- article.content %> </p>
    <p> <span class="ms-3">نگارنده:</span><span><a href="/articles/users/<%= article.author._id %>/pages/1"><%= article.author.username %></a></span></p>
    <p> <span class="ms-3">تاریخ نگارش:</span><span><%- article.createdAt.toLocaleString() %> </span></p>
    <p> <span class="ms-3">آخرین ویرایش:</span><span><%- article.lastUpdate.toLocaleString() %> </span></p>

    <div class="d-flex justify-content-end">

        <!-- Check If User Has Access For Edit And Delete -->
        <% if (locals.user._id === String(article.author._id)) { %>
            <a class="btn btn-warning m-2" href="/articles/edit/<%= article._id %>">تغییر</a>
        <% } %>
        <% if (locals.user._id === String(article.author._id) || locals.user.role === "admin") { %>
            <button id="delete-article" data-article-id="<%= article._id %>" class="btn btn-danger m-2">حذف</button>
        <% } %>

    </div>

    
</div>

<div class="comments">
    <%- include('../comment/new', {article}) %>
    <% article.comments.forEach(comment => { %>
        <%- include('../comment/index', {comment}) %>
    <% }) %> 
</div>