<div dir="ltr" class="card col-11 col-md-8  mb-2 px-3 py-2 position-relative">

    <% if(user.role === "admin") { %> 
        <!-- admin mark -->
        <div class="card__admin-mark position-absolute top-0 start-0 d-inline col-md-1">admin</div>
    <% } %> 
    
    <div class="row align-items-center  ">

        <!-- avatar -->
        <div class="col-12 col-md-3  d-flex d-md-block justify-content-center avatar">
            <img class="card__avatar ms-md-4  d-block rounded rounded-circle"
                <% if (user.avatar) { %>
                    src="/images/avatars/<%= user.avatar %> "
                    
                <% } else { %>
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQEZrATmgHOi5ls0YCCQBTkocia_atSw0X-Q&usqp=CAU"
                <% } %> 
            alt="avatar">
        </div>

        <!-- section  -->
        <div class="col-6 col-md-3 ">
            <!-- full name -->
            <p class="fw-bold text-center"><%= user.firstName + " " + user.lastName %> </p>

            <!-- username -->
            <p class="text-muted text-center">نام کاربری: 
                <%= user.username %> 
            </p>
        </div>

        <!-- section  -->
        <div class="col-6 col-md-3">
            <!-- gender -->
            <p class="fw-bold text-center"><%= user.gender %> </p>

            <!-- company -->
            <p class="text-muted text-center">company: <%#= user.company.name %> </p>
        </div>

        <!-- edit section  -->
        <div class="col-12 col-md-3 text-center">

            <!-- edit button -->
            <icon card-id="<%= user._id %>" class="edit-user bi bi-journals p-2 fs-4 border-end"></icon>

            <!-- delete button -->
            <icon card-id="<%= user._id %>" class="delete-user bi bi-trash2 p-2 fs-4"></icon>

        </div>
    </div>
</div>