<div id="user-card" dir="ltr" class="card col-11 col-md-8  mb-2 px-3 py-3 pt-xl-3 position-relative">

    <% if(user.role === "admin") { %> 
        <!-- admin mark -->
        <div class="card__admin-mark position-absolute top-0 start-0 d-inline col-md-1">admin</div>
    <% } %> 
    
    <div class="row align-items-center  ">

        <!-- avatar -->
        <div class="col-12 col-md-1  d-flex d-md-block justify-content-center avatar">
            <img class="card__avatar ms-md-4  d-block rounded rounded-circle"
                <% if (user.avatar) { %>
                    src="/images/avatars/<%= user.avatar %> "
                    
                <% } else { %>
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQEZrATmgHOi5ls0YCCQBTkocia_atSw0X-Q&usqp=CAU"
                <% } %> 
            alt="avatar">
        </div>

        <!-- section  -->
        <div class="col-6 col-md-5" dir="rtl">
            <!-- full name -->
            <p class="text-center fw-bold"><%= user.firstName + " " + user.lastName %> </p>

            <!-- username -->
            <p class="text-center"><strong>نام کاربری : </strong><%= user.username %></p>
            <p class="text-center"><strong>جنسیت : </strong><%= user.gender === 'male'? 'مرد' : 'زن' %></p>
        </div>

        <!-- section  -->
        <div class="col-6 col-md-5" dir="rtl">
            <!-- gender -->
            <p class="text-center"><strong>نقش کاربر : </strong><%= user.role %> </p>
            <p class="text-center"><strong>شماره تماس : </strong><%= user.mobile %> </p>
            <p class="text-center"><strong>ایمیل : </strong><%= user.email %></p>
        </div>

        <!-- edit section  -->
        <div class="col-12 col-md-1 text-center">

            <!-- user articles button -->
            <a href="/articles/users/<%= user._id %>">
                <icon data-user-id="<%= user._id %>" class="card__user-articles bi bi-journals p-2 fs-4"></icon>
            </a>

            <!-- reset user's password button -->
            <icon data-user-id="<%= user._id %>" class="card__reset-password bi bi-key p-2 fs-4"></icon>

            <!-- delete user button -->
                <icon data-user-id="<%= user._id %>" class="card__delete-user bi bi-trash2 p-2 fs-4"></icon>

        </div>
    </div>
</div>