<%- include("./partials/__header", {title: "Edit Profile"}) %>
<%- include("./partials/__navbar", {page: "dashboard"}) %> 
<%- include("./partials/__alert", {msg, err}) %> 


<div class="container text-end">
    <h3>داشبورد</h3>
    
        <!--Profile Details-->
        <div class="row justify-content-end mt-5  ">
            <div class="col-9 col-md-7 col-lg-6 col-xl-4 row justify-content-center p-5 ">
                <label for="username">نام کاربری</label>
                <input type="text" name="username" class="form-control" placeholder="<%= locals.user.username %> " disabled>

                <a class="mt-2 btn btn-primary" href="/dashboard/edit/">
                    تغییر مشخصات
                </a>
                <button class="mt-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#password-confirmation-modal">
                      تغییر رمز عبور
                </button>
                <a class="mt-2 btn btn-danger" role="delete-user" data-user-id="<%= user._id %>">حذف اکانت</a>
        </div>
    </div>
</div>

<!-- Importing Password Change Confirmation modal -->
<%- include("./partials/__modal", {userId: user._id}) %>

<!-- Import Scripts -->
<%- include("./partials/__scripts") %>
<script src="/javascripts/user.js"></script>