<%- include("./partials/__header", {title: "Edit Profile"}) %>
<%- include("./partials/__navbar", {page: "dashboard"}) %> 
<%- include("./partials/__alert", {msg, err}) %> 


<div class="container">
    <h5 class="d-inline-block">مشخصات جدید را وارد کنید</h5>
    <button data-user-id="<%= locals.user._id %> " id="edit-user" class=" d-inline-block mt-2 btn btn-success me-3">ذخیره</button>
    <div class="row mt-2 gy-4 ">
        <div class="col-6 col-lg-3">
            <label for="username">نام کاربری</label>
            <input class="form-control" type="text" name="username" value="<%= locals.user.username %>">
        </div>
    </div>
</div>


<!-- Importing Scripts -->
<%- include("./partials/__scripts") %>
<script src="/javascripts/dashboard.js"></script>