<%- include("./partials/__header") %>
<%- include("./partials/__navbar", {page: "home"}) %>
<%- include("./partials/__alert", {msg, err}) %>

<div class="container py-5">
    <div class="row py-5">
        <div class="col-12 text-center mt-5">
            <h3 class="mb-4">در حال حاضر چیزی برای این صفحه طراحی نشده است</h3>
            <p>لطفا به صفحات <a href="/register/">ثبت نام</a> و <a href="/login/">ورود</a> رفته تا به <a href="/dashboard/">پنل کاربری</a> دسترسی داشته باشید</p>
        </div>
    </div>
</div>
<%- include("./partials/__scripts") %>
<%- include("./partials/__footer") %>
